{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate 'Product Delete' %}{% endblock %}

{% block content %}
<section id="form">
    <h1>{% translate "Delete Product" %}</h1>
    <p>{% translate "Are you sure you want to delete the product" %} "{{ product.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="confirm-button">{% translate "Yes, Delete" %}</button>
        <a href="{% url 'product_list' %}" class="cancel-button">{% translate "Cancel" %}</a>
    </form>
</section>
{% endblock %}