{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="auth-container">
  <h2>{% translate "Log In" %}</h2>
  <form method="POST">
    {% csrf_token %}
    
    <label for="username">{% translate "Username" %}</label>
    <input type="text" name="username" id="username" required>

    <label for="password">{% translate "Password" %}</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">{% translate "Log In" %}</button>
  </form>
  
  <!-- Enlace a Sign Up -->
  <p style="margin-top: 10px;">
    {% translate "Don't have an account?" %}
    <a href="{% url 'signup' %}">{% translate "Create one here" %}</a>
  </p>
</div>
{% endblock %}
