{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="auth-container">
  <h2>Sign Up</h2>
  <form method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>

    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name">

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name">

    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Create Account</button>
  </form>

  <p style="margin-top: 10px;">
    Already have an account?
    <a href="{% url 'login' %}">Log in here.</a>
  </p>
</div>
{% endblock %}
